@font-face {
  font-family: 'TTI';
  src: url('./assets/font/TTInterfaces-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'TTI Medium';
  src: url('./assets/font/TTInterfaces-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'TTI Semibold';
  src: url('./assets/font/TTInterfaces-SemiBold.ttf');
  font-weight: 500;
}
:root {
  --white: #fdfdfd;
  --black: #000;
  --light-gray: #cccccc;
  --gray: #575757;
  --shadow-us: 5px 5px 20px rgba(0, 0, 0, 0.15);
  --shadow-us-hover: 5px 5px 25px rgba(0, 0, 0, 0.25);
  --gradient: linear-gradient(110deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button,
input,
a,
p,
h1 {
  font-family: 'TTI';
}

button, input{
  box-shadow: var(--shadow-us);
  transition: ease-in 200ms;
}
button:hover,
input:hover {
  box-shadow: var(--shadow-us-hover);

}
html {
  font-size: 62.5%;
}

@media (min-width: 1300px) {
  html {
    font-size: 80%;
  }
}

ul {
  list-style-type: none;
}

body {
  font-family: 'TTI';
  background-color: var(--white);
  margin: 0;
  padding: 3rem;
}
* {
  padding: 0;
  margin: 0;
}

html > body > header {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

html > body > header > nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

html > body > header > nav > button {
  background-color: white;
  border: none;
  padding: 1.3rem 0;
  font-size: 1.6rem;
  border-radius: 5rem;
  width: 100%;
  color: var(--light-gray);
}

html > body > header > nav > button.active {
  background-color: #fff;
  box-shadow: var(--shadow-us-hover);
  /* border: 1px solid var(--gray); */
  color: var(--gray);
}

html > body > header > form {
  display: flex;
  align-items: center;
}

html > body > header > form > input {
  font-size: 1.6rem;
  padding: 1.3rem 3rem;
  border-radius: 5rem;
  border: 0;
  width: 100%;
}

html > body > header > form > input::placeholder {
  font-size: 1.6rem;
  color: var(--light-gray);
}

html > body > main > section.today-weather {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 3rem;
  width: 100%;
  height: 80vh;
}

html > body > main > section.today-weather > .weather-info {
  /* background: linear-gradient(110deg, #3e8ff5 10%, #f849ec 100%); */
  background: var(--gradient);
  padding: 7rem 5rem;
  border-radius: 8rem;
  color: white;
  display: flex;
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

html > body > main > section.today-weather > .weather-info::after,
html > body > main > .today-weather > ul > li.cloud::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 8rem;
  
  /* Тот же градиент, что и у основного блока */
  background: var(--gradient);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;

  /* Размытие для эффекта тени */
  filter: blur(20px);
  opacity: 0.8; /* Прозрачность тени */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html > body > main > section.today-weather > .weather-info::before,
html > body > main > .today-weather > ul > li.cloud::before {
  background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png');
  position: absolute;
  inset: 0;
  border-radius: 8rem;
  z-index: 0;
  content: '';
}

html > body > main > .today-weather > .weather-info > .temperature {
  font-size: 19rem;
  margin-top: -3.7rem;
  align-self: flex-end;
  z-index: 1;
  background: linear-gradient(130deg, white 30%, transparent 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html > body > main > .today-weather > .weather-info > .date {
  font-size: 1.8rem;
  font-family: 'TTI Medium';
  opacity: 0.8;
}
html > body > main > .today-weather > .weather-info > .location > p {
  font-family: 'TTI Semibold';
  font-size: 2.8rem;
  background: linear-gradient(140deg, white, transparent 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 80%;
}

html > body > main > .today-weather > .weather-info > .location > p.country {
  font-family: 'TTI Medium';
}

html > body > main > .today-weather > .weather-info > .temperature-range {
  font-size: 2rem;
  opacity: 0.8;
}

/* html
  > body
  > main
  > .today-weather
  > .weather-info
  > .temperature-range
  > span:first-child {
  margin-right: 1rem;
} */

html > body > main > .today-weather > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

html > body > main > .today-weather > ul > li,
html > body > main > .today-weather > ul > a {
  background-color: white;
  border-radius: 2.7rem;
  padding: 3rem;
  box-shadow: var(--shadow-us);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html > body > main > .today-weather > ul > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in 200ms;
}

html > body > main > .today-weather > ul > a > .arrow {
  align-self: flex-end;
  height: 5rem;
  width: 5rem;
}

html > body > main > .today-weather > ul > a:hover {
  box-shadow: var(--shadow-us-hover);
}

html > body > main > .today-weather > ul > a:hover svg {
  margin-left: 5px; 
  margin-top: -5px;   
}

html > body > main > .today-weather > ul > a svg {
  transition: margin 0.3s ease; /* Задаем плавный переход при наведении */
}

html > body > main > .today-weather > ul > li > p,
html > body > main > .today-weather > ul > a > p  {
  font-size: 1.7rem;
  color: var(--light-gray);
}

html > body > main > .today-weather > ul > li > p.big {
  color: var(--black);
  font-size: 4.5rem;
}

html > body > main > .today-weather > ul > li.cloud {
  background: linear-gradient(110deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  color: white;
  grid-column: span 2;
  position: relative;
}

html > body > main > .today-weather > ul > li.cloud > .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

html > body > main > .today-weather > ul > li.cloud > .info > p {
  background: linear-gradient(140deg, white 10%, transparent 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-family: 'TTI Medium';
}

html > body > main > .today-weather > ul > li.cloud > .info > p.feels-like {
  font-size: 1.8rem;
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.842), transparent 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'TTI';

}

html > body > main > .today-weather > ul > li.cloud > .info > p.feels-like > span {
  background: linear-gradient(140deg, white 30%, transparent 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


